In [81]:
import pandas as pd
import pickle
from scipy.stats import poisson

In [82]:
dict_table = pickle.load(open('dict_table','rb'))
df_historical_data = pd.read_csv('clean_fifa_worldcup_matches.csv')
df_fixture = pd.read_csv('clean_fifa_worldcup_fixture.csv')

## 1. Calcular Team Strength

In [83]:
# dividir df en df_home and df_away
df_home = df_historical_data[['HomeTeam', 'HomeGoals', 'AwayGoals']]
df_away = df_historical_data[['AwayTeam', 'HomeGoals', 'AwayGoals']]

In [84]:
df_home = df_home.rename(columns={'HomeTeam':'Team', 'HomeGoals':'GoalsScored', 'AwayGoals':'GoalsConceded'})
df_away = df_away.rename(columns={'AwayTeam':'Team', 'HomeGoals':'GoalsConceded', 'AwayGoals':'GoalsScored'})

In [85]:
# concatenar df_home y df_away, hacer group por team y calcular promedio
df_team_strength = pd.concat([df_home, df_away,], ignore_index=True).groupby('Team').mean()

## 2. Function predict_points

In [86]:
def predict_points(home, away):
    if home in df_team_strength.index and away in df_team_strength.index:
        # goals_scored * goals_conceded
        lamb_home = df_team_strength.at[home, 'GoalsScored'] * df_team_strength.at[away, 'GoalsConceded']
        lamb_away = df_team_strength.at[away, 'GoalsScored'] * df_team_strength.at[home, 'GoalsConceded']
        prob_home, prob_away, prob_draw = 0, 0, 0
        for x in range(0,11): #number of goals home team
            for y in range(0,11): #number of goals away team
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                if x == y:
                    prob_draw += p
                elif x > y:
                    prob_home += p
                else:
                    prob_away += p
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        return (points_home, points_away)
    else:
        return (0,0)

### 2.1 testear Funcion

In [87]:
# Testear con partidos: Argentina - Mexico, England - United States, Qatar (H) - Ecuador
predA = predict_points('Argentina', 'Mexico')
print(predA)

predB = predict_points('England', 'United States')
print(predB)

predC = predict_points('Qatar (H)', 'Ecuador')
print(predC)

(2.3129151525530505, 0.5378377125059863)
(2.2356147635326007, 0.5922397535606193)
(0, 0)

## 3. Prediciendo Mundial

### 3.1 Fase de grupo

In [88]:
# diviendo fixture en grupo, octavos, cuartos, ...
df_fixture_group_48 = df_fixture[:48].copy()
df_fixture_knockout = df_fixture[48:56].copy()
df_fixture_quarter = df_fixture[56:60].copy()
df_fixture_semi = df_fixture[60:62].copy()
df_fixture_final = df_fixture[62:].copy()

In [89]:
# correr todos los partidos de la fase de grupo y actualizar las tablas de cada grupo
for group in dict_table:
    teams_in_group = dict_table[group]['Team'].values
    df_fixture_group_6 = df_fixture_group_48[df_fixture_group_48['home'].isin(teams_in_group)]
    for index, row in df_fixture_group_6.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
        dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] += points_away
    
    dict_table[group] = dict_table[group].sort_values('Pts', ascending =False).reset_index()
    dict_table[group] = dict_table[group][['Team', 'Pts']]
    dict_table[group] = dict_table[group].round(0)

C:\Users\MSI\AppData\Local\Temp\ipykernel_15552\1813132781.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.8966936]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
C:\Users\MSI\AppData\Local\Temp\ipykernel_15552\1813132781.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.38825101]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
C:\Users\MSI\AppData\Local\Temp\ipykernel_15552\1813132781.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.78159352]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
C:\Users\MSI\AppData\Local\Temp\ipykernel_15552\1813132781.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.1926621]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
C:\Users\MSI\AppData\Local\Temp\ipykernel_15552\1813132781.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.39879893]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
C:\Users\MSI\AppData\Local\Temp\ipykernel_15552\1813132781.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.71189919]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
C:\Users\MSI\AppData\Local\Temp\ipykernel_15552\1813132781.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.06786741]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
C:\Users\MSI\AppData\Local\Temp\ipykernel_15552\1813132781.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[2.35858554]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home

In [90]:
# mostrar tabla actualizada
dict_table['Group H']

          Team  Pts
0     Portugal  6.0
1      Uruguay  5.0
2        Ghana  4.0
3  South Korea  2.0

### 3.2 Octavos

In [91]:
# octavos: df_fixture_knockout
df_fixture_knockout

               home     score                away  year
48  Winners Group A  Match 49  Runners-up Group B  2022
49  Winners Group C  Match 50  Runners-up Group D  2022
50  Winners Group D  Match 52  Runners-up Group C  2022
51  Winners Group B  Match 51  Runners-up Group A  2022
52  Winners Group E  Match 53  Runners-up Group F  2022
53  Winners Group G  Match 54  Runners-up Group H  2022
54  Winners Group F  Match 55  Runners-up Group E  2022
55  Winners Group H  Match 56  Runners-up Group G  2022

In [92]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [93]:
# actualizar el fixture de octavos con el 1 puesto (group winner) y el 2 puesto (runners group)
for group in dict_table:
    group_winner = dict_table[group].loc[0, 'Team']
    runners_up = dict_table[group].loc[1, 'Team']
    df_fixture_knockout.replace({f'Winners {group}': group_winner,
                                 f'Runners-up {group}': runners_up}, inplace=True)

df_fixture_knockout['winner'] = '?'
df_fixture_knockout

           home     score         away  year winner
48  Netherlands  Match 49        Wales  2022      ?
49    Argentina  Match 50      Denmark  2022      ?
50       France  Match 52       Poland  2022      ?
51      England  Match 51      Senegal  2022      ?
52      Germany  Match 53      Belgium  2022      ?
53       Brazil  Match 54      Uruguay  2022      ?
54      Croatia  Match 55        Spain  2022      ?
55     Portugal  Match 56  Switzerland  2022      ?

In [94]:
# crear function get_winner
def get_winner(df_fixture_updated):
    for index, row in df_fixture_updated.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home, away)
        if points_home > points_away:
            winner = home
        else:
            winner = away
        df_fixture_updated.loc[index, 'winner'] = winner
    return df_fixture_updated

In [95]:
get_winner(df_fixture_knockout)

           home     score         away  year       winner
48  Netherlands  Match 49        Wales  2022  Netherlands
49    Argentina  Match 50      Denmark  2022    Argentina
50       France  Match 52       Poland  2022       France
51      England  Match 51      Senegal  2022      England
52      Germany  Match 53      Belgium  2022      Germany
53       Brazil  Match 54      Uruguay  2022       Brazil
54      Croatia  Match 55        Spain  2022        Spain
55     Portugal  Match 56  Switzerland  2022     Portugal

### 3.3 Cuartos de final

In [102]:
# Create update_table function
def update_table(df_fixture_round_1, df_fixture_round_2):
    for index, row in df_fixture_round_1.iterrows():
        winner = df_fixture_round_1.loc[index, 'winner']
        match = df_fixture_round_1.loc[index, 'score']
        df_fixture_round_2.replace({f'Winners {match}':winner}, inplace=True)
    df_fixture_round_2['winner'] = "?"
    return df_fixture_round_2

In [103]:
update_table(df_fixture_knockout, df_fixture_quarter)

           home     score       away  year winner
56      Germany  Match 58     Brazil  2022      ?
57  Netherlands  Match 57  Argentina  2022      ?
58        Spain  Match 60   Portugal  2022      ?
59      England  Match 59     France  2022      ?

In [105]:
get_winner(df_fixture_quarter)

           home     score       away  year       winner
56      Germany  Match 58     Brazil  2022       Brazil
57  Netherlands  Match 57  Argentina  2022  Netherlands
58        Spain  Match 60   Portugal  2022     Portugal
59      England  Match 59     France  2022       France

### 3.4 Semifinal

In [106]:
update_table(df_fixture_quarter, df_fixture_semi)

           home     score      away  year winner
60  Netherlands  Match 61    Brazil  2022      ?
61       France  Match 62  Portugal  2022      ?

In [107]:
get_winner(df_fixture_semi)

           home     score      away  year  winner
60  Netherlands  Match 61    Brazil  2022  Brazil
61       France  Match 62  Portugal  2022  France

### 3.5 Final

In [108]:
update_table(df_fixture_semi, df_fixture_final)

               home     score             away  year winner
62  Losers Match 61  Match 63  Losers Match 62  2022      ?
63           Brazil  Match 64           France  2022      ?

In [109]:
get_winner(df_fixture_final)

               home     score             away  year           winner
62  Losers Match 61  Match 63  Losers Match 62  2022  Losers Match 62
63           Brazil  Match 64           France  2022           Brazil